https://leetcode.com/studyplan/introduction-to-pandas/

2877. Create a DataFrame from List

In [ ]:
import pandas as pd

def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    df = pd.DataFrame(student_data, columns=['student_id', 'age'])
    return df

2878. Get the Size of a DataFrame

In [ ]:
import pandas as pd

def getDataframeSize(players: pd.DataFrame) -> List[int]:
    return list(players.shape)

2879. Display the First Three Rows

In [ ]:
import pandas as pd

def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.head(3)

2880. Select Data

In [ ]:
import pandas as pd

def selectData(students: pd.DataFrame) -> pd.DataFrame:
    sub_df =  students[students['student_id'] == 101]
    return sub_df[['name', 'age']]

2881. Create a New Column

In [ ]:
import pandas as pd

def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    bonus = employees.salary *2
    employees.loc[:, "bonus"] = bonus
    return employees

2882. Drop Duplicate Rows

In [ ]:
import pandas as pd

def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    customers.drop_duplicates(subset=['email'], keep='first', inplace=True)
    return customers

2883. Drop Missing Data

In [ ]:
import pandas as pd

def dropMissingData(students: pd.DataFrame) -> pd.DataFrame:
    students.dropna(subset=['name'], inplace=True)
    return students

2884. Modify Columns

In [ ]:
import pandas as pd

def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    salary = employees.salary *2
    employees.loc[:, "salary"] = salary
    return employees

2885. Rename Columns

In [ ]:
import pandas as pd

def renameColumns(students: pd.DataFrame) -> pd.DataFrame:
    students.columns =['student_id','first_name', 'last_name', 'age_in_years']

    return students

2886. Change Data Type

In [ ]:
import pandas as pd

def changeDatatype(students: pd.DataFrame) -> pd.DataFrame:

    students.grade = students.grade.astype(int)
    return students

2887. Fill Missing Data

In [ ]:
import pandas as pd

def fillMissingValues(products: pd.DataFrame) -> pd.DataFrame:
    products.fillna({'quantity':0}, inplace=True)
    return products

2888. Reshape Data: Concatenate

In [ ]:
import pandas as pd

def concatenateTables(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    result_df = pd.concat([df1, df2], ignore_index=True)
    return result_df

2889. Reshape Data: Pivot

In [ ]:
import pandas as pd

def pivotTable(weather: pd.DataFrame) -> pd.DataFrame:
     return weather.pivot(index='month', columns='city', values='temperature')

2890. Reshape Data: Melt

In [ ]:
import pandas as pd

def meltTable(report: pd.DataFrame) -> pd.DataFrame:

    return pd.melt(report, id_vars=['product'],var_name='quarter', value_name='sales')

2891. Method Chaining

In [ ]:
import pandas as pd

def findHeavyAnimals(animals: pd.DataFrame) -> pd.DataFrame:
    heavy_animals = animals[animals['weight'] > 100].sort_values('weight', ascending=False)
    return heavy_animals[['name']]